@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C6E070, #91C46C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #455e34c7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #91C46C;
    text-align: center;
    text-shadow: 1px 1px 2px #557440e7;
}

h2 {
    color: #287D7D;
}

p {
    text-align: justify;
}